<hr>
<h1>Login</h1>
<hr>
<div class="col-md-6 col-md-offset-3">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="text" [(ngModel)]="userName" id="userName" placeholder="User Name..." name="userName" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="password" id="password" placeholder="Password..." name="password" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>
